@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 80px;
    width: 100wh;
    background-color: #e23744;
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items:center;

}
nav div a{
    font-size: 60px;
    color: white;
    text-decoration: none;
    font-family: 'Tinos', serif; 
    margin-left : 30px;

}
.btn{
    height: 45px;
    width : 80px;
    background-color: transparent;
    color : white;
    border-radius: 5px;
    border-color: white;
    /* margin-top: 15px; */
    margin-right: 30px;
    left: 20px;
}